// body {
//   background: linear-gradient(to bottom, #402051, #036a9c, #224577);
//   background-repeat: no-repeat;
// }

.submit {
  margin-bottom: 5em;
}

.reviews-title {
  font-size: 25px;
}

.nav {
  margin-bottom: 10em;
}

.people {
  position: absolute;
  left: 14em;
}

.reviews-description {
  width: 38em;
}

.reviews-firstText {
  position: absolute;
  left: 35em;
  top: 14em;
}

.reviews-secondText {
  position: absolute;
  left: 25em;
  top: 27em;
}

.reviews-thirdText {
  position: absolute;
  left: 56em;
  top: 42em;
}

.reviews-fourthText {
  position: absolute;
  left: 35em;
  top: 54.5em;
}

.reviews-fifthText {
  position: absolute;
  left: 25em;
  top: 66.5em;
}

.reviews-sixText {
  position: absolute;
  left: 55em;
  top: 78.5em;
}

.reviews-allTexts {
  margin-bottom: 4em;
}

.footer {
  position: absolute;
  top: 130em;
  left: 2em;
}

.form {
  position: absolute;
  top: 100em;
  left: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1 {
  margin-bottom: 2em;
}

input {
  width: 30em;
  height: 2em;
  margin-bottom: 2em;
}

textarea {
  width: 30em;
  height: 2em;
}

.message {
  margin-bottom: 4em;
}

.button-submit {
  padding: 10px 50px;
  border-radius: 50px;
  background: linear-gradient(to bottom, #c04da5, #462255);
  color: white;
  border: none;
}
