.dropdown-button-orange {
  color: #ff1919;
}

.advices {
  display: flex;
  flex-direction: column;
  position: relative;
}

.advices-title {
  font-size: 25px;
  margin-bottom: 3em;
  width: 38em;
}

p {
  margin: 0;
}

.text-advices {
  width: 38em;
  margin: 0 auto;
}

.stars {
  position: absolute;
  left: 15em;
  top: 17em;
}

nav,
.advices-description {
  margin-bottom: 8em;
}

.advices-thirdText {
  margin-bottom: 4em;
}
