.dropdown-button-orange {
  color: #ff1919;
}

body {
  background: linear-gradient(to right, #036a9c, #402051);
}

.text-guide-width {
  width: 38em;
}

p {
  margin: 0;
}

.nav {
  margin-bottom: 8em;
}

.guideLowMoney {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.guideLowMoney-title {
  font-size: 25px;
  margin-bottom: 1.5em;
}

.moneyFirst {
  position: relative;
  left: 35em;
  top: 5em;
}

.moneySecond {
  position: absolute;
  right: 12em;
  top: 40em;
}

.guideLowMoney-firstText {
  position: absolute;
}

.ships {
  position: absolute;
  left: 25em;
  top: 23em;
}

.guideLowMoney-secondText {
  position: absolute;
  right: 17em;
  top: 30em;
}

.guideLowMoney-thirdText {
  position: absolute;
  top: 40em;
}

.guideLowMoney-fourthText {
  position: absolute;
  top: 55em;
  right: 16em;
}

.guideLowMoney-fifthText {
  top: 67em;
  position: absolute;
  left: 40em;
}

.footer {
  position: absolute;
  top: 80em;
  left: 3.5em;
  margin-bottom: 2em;
}

.moneyThird {
  position: absolute;
  top: 67em;
  right: 20em;
}
